/* General setup */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 90%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  
  /* font imports */
  
  /*
  
  Lovato light font obtained from fontspring.com,
  originally created by Philatype
  See https://www.fontspring.com/fonts/philatype/lovato
  
  Josefin slab bold obtained from fontsquirrel.com,
  originally created by Typemade
  See https://www.fontsquirrel.com/fonts/josefin-slab
  
  */
  
  @font-face {
      font-family: 'lovatolight';
      src: url('fonts/Lovato-Light-webfont.eot');
      src: url('fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/Lovato-Light-webfont.woff2') format('woff2'),
           url('fonts/Lovato-Light-webfont.woff') format('woff'),
           url('fonts/Lovato-Light-webfont.ttf') format('truetype'),
           url('fonts/Lovato-Light-webfont.svg#lovatolight') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'josefin_slabbold';
      src: url('fonts/josefinslab-bold-webfont.eot');
      src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
           url('fonts/josefinslab-bold-webfont.woff') format('woff'),
           url('fonts/josefinslab-bold-webfont.ttf') format('truetype'),
           url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
  /* typography stuff */
  
  html {
    font-family: lovatolight, serif;
    font-size: 10px;
    background-color: antiquewhite;
  }
  
  h1, h2 ,h3{
    font-family: josefin_slabbold, sans-serif;
    letter-spacing: 2px;
  }
  
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  
  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  
  section h2 + p {
    text-indent: 20px;
  }
  
  p, li , a ,section{
    font-size: 3.0rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    /* border:1px; */
  }
  
  /* Link styling */
  
  a {
    outline: none;
  }
  
  a[href*="http"] {
    padding-right: 19px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
  }
  
  a:link, a:visited {
    color: blue;
  }
  
  a:focus, a:hover {
    text-decoration: none;
  }
  
  a:active {
    color: transparent;
    text-shadow: 0px 0px 1px #f00,
                 0px 0px 2px #f00,
                 0px 0px 3px black,
                 0px 0px 4px black;
  }
  
  /* lists: extra margin top and bottom to make it
  always have the same spacing as with paragraphs */
  
  ul, ol {
    margin: 1.6rem 0;
  }
  
  ul {
    list-style-type: square;
  }
  
  ol {
    list-style-type: 1;
  }
  
  /* nav menu */
  
  nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
  }
  
  nav li {
    list-style-type: none;
    margin-bottom: 2rem;
  }
  
  nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid #a66;
  }
  
  nav li a:focus, nav li a:hover {
    color: white;
    background: #a66;
  }
  
  nav li a:active {
    color: white;
    background: black;
  }
  hr {
      height: 1px;
      border:none;
      border-top:5px dashed #0066CC
      /* border-top:1px solid #555555 */
      /* border-top:3px double red */
      /* border-top:5px ridge green */
  }
  .note {
    font-size: 3.6rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    color:red;
  }

  .tip span{
	font-size: 3.0rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    color:red;
  }

  .box {
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .mulbox {
    display: flex;
    flex-direction: column;
  }

  .inner{
    border-style: solid;
    border-width: 2px;
    height:700px;

  }



 

